# Default ignored files
/shelf/
/workspace.xml


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

scripts/__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Scaler or model artifacts
*.pkl
*.joblib
